html,
body {
    overflow-x: hidden;
}

p {
    color: #233d63 !important;
}

a {
    text-decoration: none !important;
    cursor: pointer !important;
}

input[type="text"], textarea, select {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
}

select:hover {
    background-color: white !important;
}

select option:hover {
    color: #444645;
    background: #ddd;
}

#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #008da1 !important;
}

#nprogress .spinner {
    display: none !important;
}

#video-wrapper {
    padding-top: 10px;
    background-color: #233d63;
    box-sizing: border-box;
}

#player {
    width: 100% !important;
    height: auto !important;
}

#sidebar-content {
    height: 82vh !important;
    overflow-y: auto;
    background-color: white;
    scrollbar-width: thin !important;
    scrollbar-color: #1e1e3f white !important;
}

#sidebar-content .course-content-list {
    margin-bottom: 5px !important;
}

#sidebar-content .course-content-list {
    margin-bottom: -30px !important;
    background: #fafafa !important;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #video-wrapper {
        height: 58vh !important;
    }

    #video-wrapper .col-md-3 {
        padding: 0;
        margin: 0;
    }

    #sidebar-content {
        height: 54vh !important;
        overflow-y: auto;
        padding: 0;
    }

    #sidebar-content .course-item-content-wrap {
        margin-bottom: 10px;
    }

    #sidebar-content .card-body {
        padding: 2px 0 0 0 !important;
        margin-bottom: 25px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    #video-wrapper {
        position: relative;
        padding: 0;
    }

    #sidebar-content {
        height: auto !important;
        width: auto;
    }

    #sidebar-content .course-content-list {
        margin-bottom: -30px !important;
        padding-bottom: -15px;
    }
}

#dashboard-nav-container {
    padding-top: 10px !important;
}

.theme-btn,
.tab-hover:hover {
    cursor: pointer !important;
}

.check .input {
    color: #1e1e3f;
    margin-right: 10px;
    border-radius: 3px;
    transition: all 150ms;
}

.check label {
    font-size: 18px;
    font-weight: 400 !important;
    color: #1e1e3f;
}

.input:checked {
    background-color: #1e1e3f !important;
    color: #1e1e3f;
}

.input::after {
    background-color: #1e1e3f !important;
    color: #1e1e3f;
}

.content-title {
    justify-content: initial;
    text-transform: uppercase !important;
    color: #1e1e3f !important;
    font-weight: 600;
}

.nav-item {
    font-size: 15px;
    color: #233d63;
    padding-bottom: 40px;
    font-weight: 600;
}

.nav-item:hover {
    padding-bottom: 0 !important;
    font-weight: 600;
    text-decoration: none;
}

.login {
    color: #233d63;
    font-weight: 600 !important;
}

.auth--margin {
    margin-top: 25px !important;
}

.side-menu-wrap {
    margin-top: 15px !important;
    height: 100vh;
}

#admin-area {
    padding-top: 20px !important;
    background-color: #fafafa;
}

#admin-area .item {
    margin-bottom: 5px !important;
}

#admin-area .item a {
    margin-bottom: 5px !important;
    color: #233d63 !important;
}

#admin-area .item a:hover {
    color: #008da1 !important;
    font-weight: 500;
}

#admin-area .admin-item i {
    margin-right: 12px !important;
}

.user-auth li {
    margin: 0 10px !important;
}

.second-child {
    border: 0;
    background-color: white !important;
}

.second-child :after {
    border: 0;
    background-color: white !important;
}

.user-auth {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 12px;
    color: #233d63 !important;
    cursor: pointer;
}

.login {
    margin-right: 12px;
}

.login:hover {
    color: #008da1 !important;
}

.form-control {
    padding-left: 10px !important;
}

.btn-submit {
    background-color: #008da1;
    border: 0;
    margin-top: 15px;
}

.btn-submit:disabled {
    background-color: #008da1;
    border: 0;
    margin-top: 15px;
}

.tag-wrapper {
    margin-bottom: 15px;
}

.tag-wrapper span:hover {
    cursor: pointer;
}

.tag-clicked {
    background-color: #008da1 !important;
    color: #fff !important;
}

.tag-clicked:hover {
    background-color: #008da1 !important;
}

.category-wrapper {
    margin-bottom: 24px;
}

.badge-category {
    width: auto;
    margin: 0 5px;
    font-size: 15px;
}

.checkbox-inline {
    width: auto;
    margin: 0 5px;
    font-size: 15px;
    color: #233d63 !important;
    font-weight: 600 !important;
}

.checkbox-label {
    margin-right: 3px;
}

.dropzone {
    border: 2px dashed #008da1;
}

.dropzone-container {
    height: 200px;
    border: 2px dashed #008da1;
    justify-content: center;
    display: flex;
    align-items: center;
}

.flash-container {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0 15px !important;
}

.flash-container .close {
    margin-bottom: auto;
}

.bg-color {
    background-color: #f08a5d;
}

.badge:hover {
    cursor: pointer;
}

.bg-gray {
    background-color: #dee2e6;
    cursor: not-allowed !important;
}

#nprogress .bar {
    height: 3px !important;
    color: #008da1;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.course-item-link {
    padding-top: 7px !important;
    padding-bottom: 2px !important;
}

.course-item-link:hover {
    color: #1e1e3f !important;
}

.video-active {
    background-color: #dcdcdc;
    color: #1e1e3f !important;
    font-weight: 500;
}

.playing-icon {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

.la-play-circle {
    color: #008da1 !important;
    font-weight: 700;
    font-size: 18px !important;
}

.video-completed {
    color: #008da1 !important;
    font-weight: 800 !important;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        color: #1e1e3f !important;
    }
}

.custom-control-label::after {
    display: none !important;
}

.enrollment:hover {
    cursor: pointer;
}

.comment {
    border-bottom: 0 !important;
    border-top: 0 !important;
    padding: 2px !important;
    margin-bottom: 10px;
}

.comment:hover {
    background-color: transparent !important;
    border-bottom: 2px solid black;
}

.comment_reply {
    margin-left: 4em;
    border-bottom: 0 !important;
    display: block;
    padding: 0;
}

.comment_reply:hover {
    background-color: transparent !important;
}

.comment-reply:hover {
    cursor: pointer;
}

.user-auth i {
    color: #008da1 !important;
    font-weight: 800 !important;
    font-size: large;
}

.card__collection-icon:hover {
    color: #e7305b !important;
}

.categories {
    font-size: 18px;
}

.category {
    color: #718cb7 !important;
    background-color: #e2e8f0;
    margin-right: 3px;
    font-size: 13px;
}

.category_selected {
    color: #fff !important;
    background-color: #4a5568;
    margin-right: 3px;
    font-size: 13px;
}

.home_image img {
    width: 370px;
    height: 220px;
}

.section__title {
    font-size: 29px;
}

.hero_heading {
    color: #fff;
    margin-bottom: 15px;
}

.quizze:hover {
    cursor: pointer;
}

.quizze {
    border: solid gray;
    border-width: 0.1em 0.1em 0.1em 0.8em;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.btn_disabled {
    /*cursor: disabled;*/
}

ol {
    display: none !important;
}

.is_disabled {
    cursor: not-allowed;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%;
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.delete_account_wrapper {
    height: 220px;
}

.card__title {
    height: auto;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem !important;
    font-size: 18px !important;
}

.card__title a:hover {
    color: #233d63;
}

.meta__date i {
    color: #008da1 !important;
    font-weight: 700;
    font-size: 15px !important;
}

.card__author a:hover {
    color: #7f8897;
}

.card__collection-icon:hover {
    cursor: pointer;
}

.star__rating_total {
    font-weight: 900;
    margin-right: 3px;
    color: red;
}

.responsive-footer {
    display: none;
}

/* single course */


/*pagination*/
ul.pagination {
    position: absolute;
    bottom: 15px;
}

.pagination .page-link {
    color: #008da1 !important;
}

.pagination .active a {
    background-color: #008da1 !important;
    color: #fff !important;
}

.page-link:focus {
    outline: 0;
    box-shadow: 0 0 0 rgba(0, 123, 255, .25);
}

.pagination .a:after {
    border: 0
}

.forgot-password {
    height: 70vh !important;
}

/*shopping cart*/
.shopping_cart_wrapper {
    position: relative;
}

.shopping_cart_wrapper:hover {
    cursor: pointer;
}

.shopping_cart_wrapper .total {
    position: absolute;
    left: 20px;
    bottom: 12px;
    font-size: 14px;
    font-weight: bold;
    color: #008da1;
}

/*payment card*/
.payment_card {
    width: 290px !important;
    height: auto !important;
    background-color: #233d63;
    opacity: .8;
}

.payment_card label {
    font-size: 11px;
}

.user_plan_item, .card_payment, .user_current_plan_item {
    background-color: #fff;
    -webkit-box-shadow: 0 0 40px rgba(14, 16, 48, 0.05);
    -moz-box-shadow: 0 0 40px rgba(14, 16, 48, 0.05);
    box-shadow: 0 0 40px rgba(14, 16, 48, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 42px 40px 45px 40px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    border: none;
    font-size: 18px;
    color: #1e1e3f;
    font-weight: bold;
}

.cart_item {
    background-color: #fff;
    -webkit-box-shadow: 0 0 40px rgba(14, 16, 48, 0.05);
    -moz-box-shadow: 0 0 40px rgba(14, 16, 48, 0.05);
    box-shadow: 0 0 40px rgba(14, 16, 48, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    border: none;
    color: #1e1e3f;

}

.user_plan_item:hover {
    cursor: pointer;
    background-color: #f7fafd;
}

.btn:focus {
    box-shadow: none !important;
}

.cart-total {
    margin: 25px 0
}

.go_to:hover {
    text-decoration: underline !important;
    cursor: pointer
}

/*Input tag*/
.react-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: hidden;
    border-radius: .25rem;
    padding: 5px;
    min-height: 40px;
    margin-top: 0;
    font-family: inherit;
}

.react-tagsinput--focused {
    border-color: #ddd;
}

.react-tagsinput-tag {
    background-color: #eee;
    border-radius: 2px;
    border: 1px solid #ddd;
    /*color: #1e1e3f;*/
    display: inline-block;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 600;
    margin-right: 9px;
    margin-bottom: 3px;
    padding: 0 5px;
    font-family: inherit;
}

.react-tagsinput-remove {
    cursor: pointer;
    font-weight: bold;
}

.react-tagsinput-tag a::before {
    content: " ×";
    font-size: 13px !important;
    margin-left: 8px;
    font-weight: 800;
    color: #1e1e3f;
}

.react-tagsinput-input {
    background: transparent;
    border: 0;
    color: #777;
    font-size: 14px;
    border-radius: .25rem;
    padding: 0 6px;
    font-weight: 400;
    outline: none;
    width: 180px;
    font-family: inherit;
}

.radio__wrapper, .radio__wrapper_level {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 11px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio__wrapper .radio__value {
    font-size: 13px !important;
    position: relative;
    bottom: 6px;
    background-color: white;
    color: #7f8897;;
}

.radio__wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;
}


.radio__wrapper input:checked ~ .checkmark {
    background-color: #1e1e3f;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio__wrapper input:checked ~ .checkmark:after {
    display: block;
}

.radio__wrapper .checkmark:after {
    top: 6px;
    left: 6px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
}

.radio__wrapper, .radio__wrapper_level {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 11px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio__wrapper .radio__value {
    font-size: 13px !important;
    position: relative;
    bottom: 6px;
    background-color: white;
    color: #7f8897;
}

.radio__wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;
}


.radio__wrapper input:checked ~ .checkmark {
    background-color: #1e1e3f;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio__wrapper input:checked ~ .checkmark:after {
    display: block;
}

.radio__wrapper .checkmark:after {
    top: 6px;
    left: 6px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.search_courses::placeholder {
    font-weight: 700;
    font-size: 13px;
}

.searchable_btn {
    background: #eee;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pagination li a:hover {
    background: #008da1 !important;
    color: #fff !important;
}


.course-image {
    width: 100%;
    height: 100%;
}


.spec-1 {
    color: #938787;
    font-size: 15px
}

h5 {
    font-weight: 400
}


.btn-outline,
.btn-outline:hover {
    border-color: #1e1e3f !important;
}

.theme-btn {
    font-size: 15px;
    text-transform: initial;
    background-color: #008da1;
    color: #fff;
    padding: 0 10px 0 10px;
    line-height: 32px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 1;
    display: inline-block;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border: 2px solid #008da1;
    font-weight: 600;
}

.main-menu ul li {
    text-transform: initial;
    font-weight: 500;
}

.btn__details {
    background-color: #eeeeee;
}

/*comments*/

.card-inner {
    margin-bottom: 12px;
    padding-top: 0;
}

.comment__wrapper h3 {
    margin-bottom: 14px;
}

.course_title:hover {
    cursor: pointer !important;
}

.steps-content {
    background-color: #fafafa;
    border: 1px dashed #e9e9e9;
    border-radius: 2px;
    min-width: 100%;
    min-height: 400px;
    margin-top: 25px;
}

.steps-action {
    margin-top: 24px;
}


.comment_box {
    border: none;
    box-shadow: 1px 2px 2px 2px #e9ecef;
    border-radius: 4px;
}


.user-img {
    margin-top: 4px
}

.comment_body, .comment_box .reply, .reply_comment_form {
    margin-left: 37px;
}


.reply small {
    color: #b7b4b4
}

.reply small:hover {
    cursor: pointer
}

.replied {
    color: #008da1 !important;
}

/*ANTD*/

.ant-list {
    color: #4a5568;
}

.antd_btn {
    background-color: #fefefe;
    color: #4a5568 !important;
    margin-top: 2px !important;
}

.antd_btn:hover {
    background-color: #fefefe;
    color: #4a5568 !important;
    border: 1px solid #eeeeee;
}

.ant-statistic-title {
    color: #4a5568 !important;
    text-transform: uppercase;
    font-weight: 500;
}

.ant-statistic-content {
    font-size: 43px !important;
    font-weight: 700 !important;
}

.ant-upload-list {
    display: none !important;
}

.site-result-demo-error-icon {
    color: red;
    margin-right: 6px;
}

.ant-space-horizontal {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.ant-descriptions-title {
    text-align: center !important;
    margin-top: 35px;
}

.ant-collapse-header {
    color: #233d63;
    font-size: 13px;
    font-weight: 600;
}

.ant-table {
    line-height: 1 !important;
}

.ant-table .ant-table-thead th.ant-table-cell {
    color: #233d63;
    font-size: 13px;
    font-weight: 600;
}

.ant-table-tbody td.ant-table-cell {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 12px;
    color: #233d63;
}

._ant-card-body {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 12px;
    color: #233d63;
    line-height: 1 !important;
}

._ant-card-body {
    padding: 0 !important;
    font-size: 12px;
    color: #233d63;
    margin-bottom: 9px;
}

._ant-card-body .ant-card-body {
    padding: 10px 10px;
    line-height: 1 !important;
}

.ant-form-item-extra {
    color: #ff4d4f
}

select.form-select{
    width: 100%;
    line-height: 1.1;
    font-size: 13px;
    font-weight: 400;
    padding: .375rem .75rem;

}
.ant-input ,input{
    display: block;
    width: 100%;
    padding: .275rem .75rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.ant-form-item-label, label {
    color: #233d63 !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}
.ant-tag-checkable:hover{
    color: #233d63 !important;
}
.ant-tag-checkable-checked{
    background: #718cb7!important;
    color: #ffffff;
}

.ant-tag-checkable-checked:hover{
    background: #718cb7!important;
    color: #ffffff !important;
}
.ant-steps-item-title{
    font-weight: 500;
    color: #233d63;
}
label.action_dot:hover {
    cursor: pointer !important;
}

.preview_course_title {
    font-size: 16px;
    color: #233d63;
    font-weight: 600;
}
#register .ant-row{
   padding: 0!important;
}
select option:focus {
    text-decoration: none;
    color: #ffffff;

}

.hidden {
    display: none;
}



