@media only screen and (max-width: 767px) {
    html, body {
        width: 100%;
        height: 100%;
    }

    .align-items-center {
        display: none;
    }

    .responsive-footer {
        display: block;
    }

    .menu_responsive {
        height: 100vh;
        width: 100%;
        background-color: #fff;
        padding-top: 100px;
        margin: 0;
        z-index: 100;
        position: absolute;
    }

    .menu_responsive p .nav-item {
        font-size: 24px !important;
    }

    .menu_responsive p {
        margin-bottom: 20px;
    }

    .slide-bg1 {
        height: 18vh;
        background-color: #0e0e1e;
    }

    .slide-item-table {
        position: relative;
        bottom: 45px;
    }

    .hero_heading {
        font-size: 22px !important;
    }

    .jumbotron {
        width: 92% !important;
    }

    .hero_tab {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .home_nav_tab a.radius-rounded {
        font-size: 12px;
    }

    .card-content-wrapper {
        padding-bottom: 15px !important;
    }

    .not_display {
        display: none !important;
    }

    .card-content {
        width: 100%;
        border: 1px solid #e9ecef;
    }

    .card-price-wrap span.card__price,
    .card-price-wrap a {
        font-size: 14px;
    }

    /* quizz */
    .section_title_quizz {
        font-size: 24px !important;
        text-align: center;
    }

    .search_quizz {
        width: 100%;
    }

    span.no_result {
        font-size: 12px;
    }

    .sidebar {
        margin-top: 0;
        margin-bottom: 25px;
    }

    .sidebar-widget {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .quiz-content h3 {
        font-size: 24px;
        margin-bottom: 25px;
        place-content: center !important;
    }

    .quiz-action-content {
        margin-bottom: 0;
    }

    .answer_wrapper {
        padding: 0 !important;
        margin-top: 0 !important;
    }

    .sidebar-widget .widget-title {
        font-size: 14px !important;
    }

    .category {
        font-size: 11px;
    }

    /* courses */
    .card-item {
        display: flex;
        flex-direction: row;
        height: 130px;
    }

    .card-content {
        padding: 10px !important;
        height: auto !important;
    }

    .card__img img {
        width: 120px;
        height: 130px !important;
        object-fit: cover;
    }

    .card__title {
        font-size: 14px !important;
        line-height: 1.1;
        padding: 0;
        margin: 5px 0 0 0;
        height: auto;
    }

    .card__label {
        display: none;
    }

    .rating {
        font-size: 11px;
        margin: 0;
    }

    .star-rating-wrap {
        font-size: 12px;
    }

    .card-action {
        margin: 0 !important;
    }

    .rating-wrap {
        margin: 0 !important;
        padding: 0 !important;
    }

    .star__count {
        font-size: 11px;
        margin-left: 6px;
    }

    .star__rating_total {
        font-weight: 300 !important;
        font-size: 13px;
        margin-right: 3px;
    }

    .card-duration li {
        margin: 0;
        padding: 0;
    }

    .meta__date {
        font-size: 11px;
        border: none;
        margin: 0;
    }

    .la-play-circle {
        font-weight: 300;
        font-size: 12px !important;
    }

    /* login */
    .widget-title {
        font-size: 24px !important;
    }

    .account-assist {
        margin-bottom: 10px !important;
    }

    /* Dashboard */
    .my-courses-area {
        padding-bottom: 20px;
    }

    .my_courses_wrapper {
        padding: 12px 0;
    }

    .my-courses-tab {
        font-size: 14px !important;
    }

    .section-heading .section__title {
        font-size: 24px !important;
        text-align: center;
    }

    .nav-tabs {
        place-content: center;
    }

    .card__author {
        display: none;
    }

    .course-complete-bar-2 .progress {
        height: 3px !important;
    }

    /* Video player */
    #sidebar-content .content-title {
        font-size: 14px;
    }

    #sidebar-content .course-item-content h4 {
        font-size: 12px !important;
    }

    .question-overview-result-header {
        display: flex !important;
        flex-direction: column !important;
        place-items: center;
    }

    .ask-new-question-btn,
    .question-result-item h3 {
        font-size: 12px !important;
    }

    .question-result-item h3 {
        place-content: center;
    }


    @media (orientation: portrait) {
        .slide-bg1 {
            height: 25vh;
        }

        .hero-search-form input.form-control {
            height: 30px !important;
        }

        .hero-search-form input.form-control::placeholder {
            font-size: 12px;
        }

        .jumbotron {
            width: 92% !important;
            font-size: 12px;
        }

        .jumbotron .card-body {
            padding: 10px 5px;
        }

        .breadcrumb-detail-area {
            height: auto !important;
            padding: 20px 0 !important;
        }

        .preview-course-content {
            padding: 0 20px !important
        }

        .price-current {
            font-size: 28px !important;
        }

        .buy-course-btn {
            font-size: 18px !important;
        }

        h3.widget-title {
            font-size: 18px !important;
        }
    }
    @media (orientation: landscape) {
        .jumbotron {
            width: 94% !important;
        }

        .hero-search-form input.form-control {
            height: 30px !important;
        }

        .hero-search-form input.form-control::placeholder {
            font-size: 12px;
        }

        .jumbotron {
            width: 92% !important;
            font-size: 12px;
        }


        .jumbotron .card-body {
            padding: 0 !important;
            margin: 0 !important;
        }

        .jumbotron .card {
            margin: 4px 0 !important;
        }

        .breadcrumb-detail-area {
            height: auto !important;
            padding: 20px 0 !important;
        }

        .breadcrumb-content .section__title {
            font-size: 24px !important;
            line-height: 1.1 !important;
            text-align: start !important;

        }

        .preview-course-content {
            padding: 0 20px !important
        }

        .price-current {
            font-size: 28px !important;
        }

        .buy-course-btn {
            font-size: 18px !important;
        }

        h3.widget-title {
            font-size: 18px !important;
        }
    }
}

/* ipad */
@media (min-width: 768px) and (max-width: 1024px) {
    /* header */
    .align-items-center {
        display: none;
    }

    .header-menu-area {
        height: 120px;
    }

    a.logo img {
        width: 150px !important;
    }

    .nav_icon i {
        font-size: 80px !important;
    }

    .menu_responsive {
        height: 100vh;
        width: 100%;
        background-color: #fff;
        padding-top: 100px;
        margin: 0;
        z-index: 100;
        position: absolute;
    }

    .menu_responsive p .nav-item,
    .menu_responsive {
        font-size: 40px !important;
    }

    .menu_responsive a.user-auth {
        font-size: 25px !important;
    }

    .menu_responsive p {
        margin-bottom: 40px;
    }

    /* homepage */
    .slide-bg1 {
        height: 32vh;
    }

    .slide-item-table {
        position: relative;
        bottom: 65px;
    }

    .hero_heading {
        font-size: 15px !important;
    }

    .hero-search-form input.form-control {
        height: 37px !important;
    }

    .hero-search-form input.form-control:focus {
        border: none;
    }

    .jumbotron {
        width: 95% !important;
        font-size: 14px;
    }

    .jumbotron .card {
        margin: 4px 0 !important;
    }

    .section-heading h2.hero_heading {
        font-size: 40px !important;
    }

    /* homepage tabs */
    .responsive_card_content {
        margin-left: 9px;
    }

    .card-content {
        width: 100%;
        border: 1px solid #e9ecef !important;
    }


    .card-image .card__img img {
        width: 250px;
    }

    .card__title {
        font-size: 24px !important;
        line-height: 1.2;
    }

    .rating {
        font-size: 18px !important;
        margin: 0;
    }

    .star-rating-wrap {
        font-size: 18px;
    }

    .star__count {
        font-size: 18px !important;
    }

    .star__rating_total {
        font-size: 18px !important;
    }

    .meta__date {
        font-size: 18px;
    }

    .la-play-circle {
        font-weight: 300 !important;
        font-size: 18px !important;
    }

    /* quizz */
    .section_title_quizz {
        font-size: 28px !important;
        text-align: center;
    }

    .search_quizz {
        width: 100%;
        height: 60px;
        margin-bottom: 15px;
    }

    .search_quizz::placeholder {
        font-size: 24px;
    }

    span.no_result {
        font-size: 24px;
    }

    span.quizz_title {
        font-size: 24px !important;
        margin-top: 10px;
    }

    /* Dashboard */
    .my-courses-area {
        padding-bottom: 40px !important;
    }

    .my_courses_wrapper {
        padding: 25px 0;
    }

    .my-courses-tab {
        font-size: 18px !important;
    }

    .section-heading .section__title {
        font-size: 18px !important;
        text-align: center;
    }

    .nav-tabs {
        place-content: center;
    }

    .card-item {
        display: flex;
        flex-direction: row;
        height: 150px;
    }

    .card-content {
        padding: 5px 20px !important;
        height: auto !important;
    }

    .card__img img {
        height: 150px !important;
        object-fit: cover;
    }

    h3.card__title {
        height: auto;
    }

    h3.card__title a {
        font-size: 18px !important;
    }

    .progress-item {
        margin-bottom: 15px !important;
    }

    .skillbar-box {
        margin-top: 15px !important;
    }

    .skillbar-title,
    .skill-bar-percent {
        font-size: 14px !important;
    }

    .btn-sm {
        font-size: 13px !important;
        margin-top: 25px !important;
    }

    .course-complete-bar-2 .progress {
        height: 3px !important;
    }

    .input-box label.label-text {
        font-size: 22px !important;
    }

    /* Video player */
    #video-wrapper .col-md-3 {
        padding: 0;
        margin: 0;
    }

    /* footer */
    .responsive-footer {
        display: block;
    }

    .footer_container {
        display: flex;
        justify-content: space-between;
    }

    .footer_container span {
        font-size: 18px !important;
        margin-top: 22px;
    }

    img.footer__logo {
        width: 150px !important;
    }

    /* course details */
    .breadcrumb-detail-area {
        height: 280px;
    }

    .breadcrumb-content .section__title {
        font-size: 30px !important;
        text-align: start !important;

    }

    /* portrait */
    @media (orientation: portrait) {

        #video-wrapper {
            height: 70vh !important;
        }

        #sidebar-content {
            height: 28vh !important;
            overflow-y: auto;
            padding: 0;
            width: 100%;
        }

        .course-area {
            padding-top: 0 !important;
        }

        .social_button_wrapper {
            display: flex !important;
            justify-content: space-between !important;
            flex-wrap: nowrap;
        }

        .label-y,
        span.label-text {
            font-size: 12px !important;
            font-weight: 400 !important;
        }

        .card-item {
            height: 170px !important;
        }

        .card-image .card__img img {
            object-fit: cover;
            width: 240px;
            height: 170px !important;
        }

        .card-content {
            padding: 10px !important;
            height: auto !important;
        }

        .card__title {
            font-size: 18px !important;
            line-height: 1.3;
            padding: 0;
            margin: 5px 0 15px 0;
            height: auto;
        }

        .card__label {
            display: none;
        }

        .rating {
            font-size: 14px !important;
        }

        .star-rating-wrap {
            font-size: 12px;
        }

        .card-action {
            margin: 5px !important;
        }

        .sidebar-widget h3.widget-title {
            font-size: 14px !important;
            margin-top: 0;
        }

        .filter-by-category .search_quizz {
            height: 40px !important;
        }

        .filter-by-category .search_quizz::placeholder {
            font-size: 14px !important;
        }

        .sidebar-widget .category,
        .sidebar-widget .category_selected {
            font-size: 14px !important;
            margin: 7px 7px 0 0 !important;
        }

        /* course details */
        .course-detail .row {
            display: flex !important;
            flex-wrap: nowrap !important;
        }

        .course-detail .row .col-lg-4 {
            width: 250px !important;
        }

        .preview-course-content {
            padding: 5px !important
        }

        .price-current {
            font-size: 28px !important;
        }

        .buy-course-btn {
            font-size: 18px !important;
        }

        /* login */
        .social_button_wrapper {
            display: flex !important;
            justify-content: space-between !important;
            flex-wrap: nowrap;
        }
    }
    /* landscape */
    @media (orientation: landscape) {
        .card-item {

            height: 170px;

        }

        .card-image .card__img img {
            object-fit: cover;
            width: 212px;
            height: 170px !important;
        }

        .card-content {
            padding: 10px !important;
            height: auto !important;
        }

        .card__title {
            font-size: 18px !important;
            line-height: 1.3;
            padding: 0;
            margin: 5px 0 15px 0;
            height: auto;
        }

        .card__label {
            display: none;
        }

        .rating {
            font-size: 14px !important;
        }

        .star-rating-wrap {
            font-size: 12px;
        }

        .card-action {
            margin: 5px !important;
        }

        .rating-wrap {
            margin: 0 !important;
            padding: 0 !important;
        }

        .star__count {
            font-size: 12px !important;
            margin-left: 6px;
        }

        .star__rating_total {
            font-weight: 400 !important;
            font-size: 16px !important;
            margin-right: 3px;
        }

        .card__price {
            font-size: 18px !important;
        }

        .card-duration li {
            margin: 0;
            padding: 0;
        }

        .meta__date {
            font-size: 13px;
            border: none;
            margin: 0;
        }

        .la-play-circle {
            font-weight: 300;
            font-size: 14px !important;
        }

        .sidebar-widget h3.widget-title {
            font-size: 14px !important;
        }

        .filter-by-category .search_quizz {
            height: 40px !important;
        }

        .filter-by-category .search_quizz::placeholder {
            font-size: 14px !important;
        }

        .sidebar-widget .category,
        .sidebar-widget .category_selected {
            font-size: 14px !important;
            margin: 7px 7px 0 0 !important;
        }

        /* login */
        .social_button_wrapper {
            display: flex !important;
            justify-content: space-between !important;
            flex-wrap: nowrap;
        }

    }
}

@media (min-width: 1025px) and (max-width: 1223px) {
    .reponsive_header {
        display: none !important;
    }

    .main-menu-content .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

@media only screen and (min-width: 1224px) {
    .reponsive_header {
        display: none !important;
    }
}
