@charset "UTF-8";

/*============== play-button-pulse ==============*/
@-webkit-keyframes play-button-pulse {
    0% {
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }
}

@-moz-keyframes play-button-pulse {
    0% {
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }
}

@-ms-keyframes play-button-pulse {
    0% {
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }
}

@-o-keyframes play-button-pulse {
    0% {
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes play-button-pulse {
    0% {
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}

body {
    line-height: 28px;
    font-family: "Mukta", sans-serif;
    color: #7f8897;
    position: relative;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a:link {
    text-decoration: none !important;
}

a:hover,
a:focus, a.tab-hover {
    text-decoration: none !important;
}

input:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #233d63;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


/*====== section-bg =======*/
.section-bg {
    background-color: #f7fafd;
}

.section-bg-2 {
    background-color: #233d63;
}

.primary-color {
    color: #233d63 !important;
}

.primary-color-2 {
    color: #008da1 !important;
}

.primary-color-3 {
    color: #7f8897 !important;
}

.bg-color-1 {
    background-color: #008da1 !important;
}

.section--padding {
    padding-top: 120px;
    padding-bottom: 90px;
}

.radius-round {
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}

.radius-rounded {
    -webkit-border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    border-radius: 30px !important;
}

.radius--rounded {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.radius-none {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.before-none:before {
    display: none !important;
}

.after-none:after {
    display: none !important;
}

.after-none:after,
.before-none:before {
    display: none !important;
}

/*---------------- fonts ----------------*/
.font-size-60 {
    font-size: 60px !important;
}

.font-size-55 {
    font-size: 55px !important;
}

.font-size-50 {
    font-size: 50px !important;
}

.font-size-45 {
    font-size: 45px !important;
}

.font-size-40 {
    font-size: 40px !important;
}

.font-size-35 {
    font-size: 35px !important;
}

.font-size-30 {
    font-size: 30px !important;
}

.font-size-28 {
    font-size: 28px !important;
}

.font-size-27 {
    font-size: 27px !important;
}

.font-size-26 {
    font-size: 26px !important;
}

.font-size-25 {
    font-size: 25px !important;
}

.font-size-24 {
    font-size: 24px !important;
}

.font-size-23 {
    font-size: 23px !important;
}

.font-size-22 {
    font-size: 22px !important;
}

.font-size-21 {
    font-size: 21px !important;
}

.font-size-20 {
    font-size: 20px !important;
}

.font-size-19 {
    font-size: 19px !important;
}

.font-size-18 {
    font-size: 18px !important;
}

.font-size-17 {
    font-size: 17px !important;
}

.font-size-16 {
    font-size: 16px !important;
}

.font-size-15 {
    font-size: 15px !important;
}

.font-size-14 {
    font-size: 14px !important;
}

.font-size-13 {
    font-size: 13px !important;
}

.font-size-12 {
    font-size: 12px !important;
}

.font-size-11 {
    font-size: 11px !important;
}

/*---------------- font-weight ----------------*/
.font-weight-thin {
    font-weight: 100 !important;
}

.font-weight-light {
    font-weight: 300 !important;
}

.font-weight-regular {
    font-weight: 400 !important;
}

.font-weight-medium {
    font-weight: 500 !important;
}

.font-weight-semi-bold {
    font-weight: 600 !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.font-weight-black {
    font-weight: 800 !important;
}


/*---------------- icon-element ----------------*/
.icon-element-bg-1 {
    background-color: #008da1 !important;
    color: #fff !important;
}


/*---------------- section-block ----------------*/
.section-block {
    position: relative;
    height: 1px;
    background-color: rgba(127, 136, 151, 0.2);
}

/*---------------- section-heading ----------------*/
.section-heading {
    position: relative;
    z-index: 1;
}


.section__title {
    font-size: 40px;
    font-weight: 700;
}

@media (max-width: 575px) {
    .section__title {
        font-size: 40px;
    }
}

.section__desc {
    line-height: 30px;
    margin-bottom: 34px;
    font-size: 18px;
}


.section-divider-light {
    background-color: rgba(255, 255, 255, 0.1);
}

.section-divider-light:after {
    background-color: #fff;
}

.widget-title {
    font-weight: 700;
    font-size: 24px;
}


/*---------------- theme-btn ----------------*/

.theme-btn:hover {
    background-color: #fff;
    color: #008da1;
}

.theme-btn-light {
    color: #7f8897;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 45px;
    background-color: rgba(127, 136, 151, 0.1);
    border: 1px solid rgba(127, 136, 151, 0.2);
    text-transform: capitalize;
}

.theme-btn-light:hover {
    background-color: #008da1;
    color: #fff;
}

.theme-btn-hover-light:hover {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}

.btn-text:hover {
    color: #fff;
}

.btn-text:hover .icon-btn {
    background-color: #fff;
    border-color: #fff;
    color: #008da1;
}

/*-===============================
    REGISTER AREA
===============================-*/
.register-area {
    position: relative;
    z-index: 1;
}

.register-area:before,
.register-area:after {
    position: absolute;
    content: "";
    right: 55px;
    bottom: 91px;
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    z-index: -1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    opacity: 0.3;
}


.register-area:after {
    right: auto;
    left: 280px;
    bottom: 71px;
}

.register-heading {
    padding-left: 90px;
}


.register-form {
    background-color: #fff;
    -webkit-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    -moz-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
}

.register-form .widget-title {
    background-color: #008da1;
    color: #fff;
    padding: 30px 40px 30px 40px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    font-size: 28px;
}


.register-form form {
    padding: 40px;
}

.register-form:after {
    position: absolute;
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    height: 2px;
    background-color: rgba(127, 136, 151, 0.1);
}

.register-area2:after {
    left: 50px;
}

.register-area2:before {
    right: 280px;
}


/*======= icon-box =========*/
.icon-box {
    background-color: #fff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-bottom: 30px;
    position: relative;
    padding: 20px;
    -webkit-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.07);
}

.icon-box .icon-element {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 40px;
    margin-right: 20px;
}

.icon-box .info__title {
    font-weight: 500;
    font-size: 18px;
    color: #7f8897;
}

.icon-box .info__count {
    font-size: 26px;
    font-weight: 700;
    color: #233d63;
}

.tags-item ul li {
    margin-right: 2px;
}

.tags-item ul li span {
    color: #233d63;
    font-weight: 600;
}

.author-wrap .comment-avatar .avatar__img {
    width: 140px;
    height: 140px;
}


.section-tab .nav-tabs {
    border: none;
}

.section-tab .nav-tabs li {
    margin: 0 3px;
}

.section-tab .nav-tabs li .theme-btn.active {
    background-color: #008da1;
    color: #fff;
}

.section-tab-2 .nav-tabs {
    border-bottom: 1px solid rgba(127, 136, 151, 0.2);
}

.section-tab-2 .nav-tabs li {
    margin-right: 14px;
    padding-bottom: 14px;
    font-weight: 600;
}

.section-tab-2 .nav-tabs li a {
    color: #7f8897;
    position: relative;
    padding-bottom: 19px;
}

.section-tab-2 .nav-tabs li a:after {
    position: absolute;
    content: "";
    bottom: 3px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 42px;
    height: 3px;
    opacity: 0;
    visibility: hidden;
    background-color: #008da1;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.section-tab-2 .nav-tabs li a.active {
    color: #008da1;
}

.section-tab-2 .nav-tabs li a.active:after {
    opacity: 1;
    visibility: visible;
}


.card-item {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.card-item:hover {
    -webkit-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    -moz-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
}

.card-image {
    position: relative;
}

.card-image .play-button,
.card-image .my-course-action-dot,
.card-image .card-badge {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.card-image .play-button {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    -moz-transform: translate(-50%, -50%) scale(0.7);
    -ms-transform: translate(-50%, -50%) scale(0.7);
    -o-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

.card-image .my-course-action-dot {
    left: auto;
    right: 10px;
    top: 10px;
}

.card-image .my-course-action-dot .dropdown-header {
    padding: 5px 14px;
    font-size: 16px;
    color: #7f8897;
}

.card-image .my-course-action-dot .collection-link {
    color: #7f8897;
}

.card-image .my-course-action-dot .collection-link .la {
    color: #008da1;
}

.card-image .my-course-action-dot .collection-link .la.active {
    display: none;
}

.card-image .my-course-action-dot .dropdown-menu {
    left: auto !important;
    right: 0;
    min-width: 240px;
    border: 1px solid rgba(127, 136, 151, 0.2);
}

.card-image .my-course-action-dot .btn {
    background-color: #fff;
    color: #7f8897;
    padding: 0 2px;
    font-size: 22px;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
}

.card-image .my-course-action-dot .btn:hover {
    color: #233d63;
}

.card-image:after {
    position: absolute;
    bottom: 0;
    left: 30px;
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    z-index: 1;
}

.card-image:hover:before {
    opacity: 0.1;
    visibility: visible;
}

.card-image:hover .play-button {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
}

.card__img {
    display: block;
    position: relative;
    z-index: 1;
}

.card__img img {
    width: 100%;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.card-content {
    border: 1px solid rgba(127, 136, 151, 0.2);
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    padding: 29px 30px 30px 30px;
    border-top: transparent;
}

.card__label {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.card__label-text {
    background-color: rgba(81, 190, 120, 0.1);
    display: inline-block;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    color: #008da1;
    padding: 1px 12px;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 400;
}

.card__collection-icon {
    margin-left: auto;
    color: #7f8897;
    font-size: 22px;
    position: relative;
}

.card__collection-icon:hover {
    color: #008da1;
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 9px;
    line-height: 28px;
}

.card__title a {
    color: #233d63;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.card__title a:hover {
    color: #008da1;
}

.card__author {
    line-height: 26px;
}

.card__author a {
    color: #7f8897;
    text-transform: capitalize;
    font-weight: 500;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.card__author a:hover {
    color: #008da1;
}

.card-action {
    margin-bottom: 25px;
}

.card-action .card-duration li {
    width: 100%;
    border-right: 1px solid rgba(127, 136, 151, 0.2);
    padding: 0 15px;
}

.card-action .card-duration li:first-child {
    padding-left: 0;
}

.card-action .card-duration li:last-child {
    border-right: none;
    padding-right: 0;
    text-align: right;
}

.card-action .card-duration li span {
    display: block;
}

.card-action .card-duration li span.meta__date {
    color: #233d63;
    font-weight: 500;
}

.card-action .card-duration li span.meta__text {
    font-weight: 500;
    font-size: 15px;
}

.card-price-wrap .card__price {
    color: #233d63;
    font-weight: 600;
    font-size: 20px;
}

.card-price-wrap .text-btn {
    color: #7f8897;
}

.card-price-wrap .text-btn:hover {
    color: #008da1;
}


.card-list-layout .card__img img {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    height: 280px;
    object-fit: cover;
}

.card-list-layout .card-image {
    width: 33%;
}


.card-list-layout .card-content {
    width: 68%;
    border-left: transparent;
    border-top: 1px solid rgba(127, 136, 151, 0.2);
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    height: 280px;
}

.card-list-layout .card-action .card-duration li {
    width: auto;
}

.card-list-layout .card-action .card-duration li span {
    display: inline-block;
}

.card-list-layout:hover {
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
}

.card-box-shared-body .card-list-layout .card-duration li {
    padding-right: 0;
    padding-left: 0;
    border-right: none;
}

.card-box-shared-body .card-list-layout .card-duration li:last-child {
    text-align: left;
}


.card-box-shared {
    border: 1px solid rgba(127, 136, 151, 0.2);
    -webkit-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.05);
    padding: 0;
}

/*======== card-box-shared-title=========*/
.card-box-shared-title {
    padding: 30px;
    border-bottom: 1px solid rgba(127, 136, 151, 0.2);
}

.card-box-shared-body {
    padding: 30px;
}

.card-box-shared-body .section-tab .nav-tabs li {
    display: inline-block;
}


/*-===============================
    header-menu-area
===============================-*/
.header-menu-area {
    position: relative;
    z-index: 1023;
    background-color: #fff;
}

.header-menu-area .container-fluid {
    padding-right: 0;
    padding-left: 0;
}


.header-top {
    border-bottom: 1px solid rgba(127, 136, 151, 0.1);
    padding-right: 185px;
    padding-left: 185px;
}

.header-widget ul {
    height: 45px;
}

.header-widget ul li {
    margin-right: 10px;
    display: inline-block;
}

.header-widget ul li:last-child {
    margin-right: 0;
}

.header-widget ul li a {
    color: #233d63;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.header-widget ul li a:hover {
    color: #008da1;
}

.header-widget ul li .la {
    color: #008da1;
}

.header-widget ul.social-profile li a {
    background-color: rgba(81, 190, 120, 0.1);
    color: #008da1;
}

.header-widget ul.social-profile li a:hover {
    color: #fff;
    background-color: #008da1;
}

.header-widget ul.contact-info li {
    height: 45px;
    border-right: 1px solid rgba(127, 136, 151, 0.1);
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    margin-right: 15px;
}


.header-widget ul.contact-info li span {
    margin-right: 2px;
}

.header-widget ul.contact-info li:first-child,
.header-widget ul.contact-info li:last-child {
    padding-left: 0;
}


.header-widget2 {
    height: 45px;
}


.header-widget2 .header-right-info .my-content-dropdown {
    position: absolute;
    z-index: 4;
    right: 0;
    width: 320px;
    height: auto;
    top: 60px;
    padding: 25px;
    background-color: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    -moz-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    opacity: 0;
    visibility: hidden;
    border: 1px solid rgba(127, 136, 151, 0.2);
}


.header-widget2 .header-right-info .my-content-dropdown .cart-info p {
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 10px;
    color: #233d63;
}

.header-widget2 .header-right-info .my-content-dropdown .cart-info .theme-btn {
    display: block;
    color: #fff;
    text-align: center;
    line-height: 40px;
}

.header-widget2
.header-right-info
.my-content-dropdown
.cart-info
.theme-btn:hover {
    color: #008da1;
}

.header-widget2 .header-right-info .my-content-dropdown .dropdown-menu-item {
    height: auto;
    padding-right: 0;
    padding-left: 0;
    border-right: none;
}

.header-widget2
.header-right-info
.my-content-dropdown
.dropdown-menu-item
.cart-item {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.header-widget2
.header-right-info
.my-content-dropdown
.dropdown-menu-item
.cart-item
img {
    width: 60px;
    height: 65px;
    margin-right: 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.header-widget2
.header-right-info
.my-content-dropdown
.dropdown-menu-item
.item__info
.item__info-link {
    line-height: 20px;
    font-weight: 600;
}

.header-widget2
.header-right-info
.my-content-dropdown
.dropdown-menu-item
.item__info
.item__price {
    display: block;
    padding-top: 2px;
    font-size: 15px;
}


.header-widget2
.header-right-info
.my-content-dropdown
.dropdown-menu-item
li
.theme-btn {
    color: #fff;
    font-size: 14px;
    line-height: 42px;
}

.header-widget2
.header-right-info
.my-content-dropdown
.dropdown-menu-item
li
.theme-btn:hover {
    color: #008da1;
}

.header-widget2 .header-right-info .my-content-dropdown:after {
    top: -7px;
    content: "";
    position: absolute;
    background-color: #fff;
    right: 20px;
    width: 13px;
    height: 13px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: -2px -2px 10px -5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -2px -2px 10px -5px rgba(0, 0, 0, 0.2);
    box-shadow: -2px -2px 10px -5px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(127, 136, 151, 0.2);
    border-left: 1px solid rgba(127, 136, 151, 0.2);
}


.header-widget2 .header-right-info ul {
    border-right: 1px solid rgba(127, 136, 151, 0.1);
    padding-right: 15px;
    padding-left: 15px;
}


.header-widget2 .header-right-info ul li {
    margin-right: 5px;
}

.header-widget2 .header-right-info ul li:last-child {
    margin-right: 0;
}

.header-widget2 .header-right-info ul.user-action {
    padding-right: 0;
    border-right: none;
}


.header-widget2 .header-right-info ul.user-cart {
    padding-right: 0;
    padding-left: 0;
}


.header-widget2 .header-right-info ul.user-cart li {
    position: relative;
}

.header-widget2 .header-right-info ul.user-cart li .user-cart-btn {
    font-size: 24px;
    cursor: pointer;
    padding: 7px 15px 13px 15px;
}

@media (max-width: 320px) {
    .header-widget2 .header-right-info ul.user-cart li .user-cart-btn {
        padding-right: 0;
    }
}

.header-widget2 .header-right-info ul.user-cart li:hover .my-content-dropdown {
    opacity: 1;
    visibility: visible;
    top: 42px;
}


.header-menu-content {
    padding-right: 185px;
    padding-left: 185px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background-color: #fff;
}


.main-menu-content {
    height: 70px;
}


.logo-box {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.logo-box .header-category {
    margin-left: auto;
    margin-right: 4px;
}


.logo-box .header-category ul li {
    position: relative;
}

.logo-box .header-category ul li a {
    font-size: 15px;
    color: #233d63;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 41px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.logo-box .header-category ul li a .fa-th {
    font-size: 14px;
}

.logo-box .header-category ul li a:hover {
    color: #008da1;
}

.logo-box .header-category ul li .dropdown-menu-item {
    position: absolute;
    left: 0;
    top: 65px;
    width: 320px;
    background-color: #fff;
    display: block;
    padding: 25px 0 25px 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    -moz-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    opacity: 0;
    visibility: hidden;
    border: 1px solid rgba(127, 136, 151, 0.2);
}


.logo-box .header-category ul li .dropdown-menu-item li {
    margin-bottom: 8px;
}

.logo-box .header-category ul li .dropdown-menu-item li:last-child {
    margin-bottom: 0;
}

.logo-box .header-category ul li .dropdown-menu-item li .menu-collapse {
    position: absolute;
    right: 20px;
    top: -5px;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.logo-box .header-category ul li .dropdown-menu-item li .menu-collapse:hover {
    background-color: rgba(81, 190, 120, 0.1);
    color: #008da1;
}

.logo-box .header-category ul li .dropdown-menu-item li a {
    display: block;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 0;
}

.logo-box .header-category ul li .dropdown-menu-item li .sub-menu {
    position: absolute;
    top: -24px;
    left: 318px;
    width: 280px;
    background-color: #fff;
    padding: 25px 0 25px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    -moz-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    visibility: hidden;
    opacity: 0;
}

.logo-box .header-category ul li .dropdown-menu-item li .sub-menu li {
    margin-bottom: 5px;
}

.logo-box
.header-category
ul
li
.dropdown-menu-item
li
.sub-menu
li:last-child {
    margin-bottom: 0;
}

.logo-box .header-category ul li .dropdown-menu-item li .sub-menu li a {
    color: #7f8897;
    text-transform: capitalize;
    position: relative;
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
    margin-left: 30px;
}

.logo-box .header-category ul li .dropdown-menu-item li .sub-menu li a:after {
    width: 0;
    height: 1px;
    position: absolute;
    content: "";
    bottom: 5px;
    right: 0;
    background-color: #008da1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.logo-box .header-category ul li .dropdown-menu-item li .sub-menu li a:hover {
    color: #008da1;
}

.logo-box
.header-category
ul
li
.dropdown-menu-item
li
.sub-menu
li
a:hover:after {
    width: 100%;
    right: auto;
    left: 0;
}

.logo-box .header-category ul li .dropdown-menu-item li .sub-menu.active {
    display: block;
}

.logo-box .header-category ul li .dropdown-menu-item li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.logo-box .header-category ul li .dropdown-menu-item li.active .menu-collapse {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #fff;
    background-color: #008da1;
}


.logo-box .header-category ul li .dropdown-menu-item:after {
    top: -7px;
    content: "";
    position: absolute;
    background-color: #fff;
    left: 30px;
    width: 13px;
    height: 13px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: -2px -2px 10px -5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -2px -2px 10px -5px rgba(0, 0, 0, 0.2);
    box-shadow: -2px -2px 10px -5px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(127, 136, 151, 0.2);
    border-left: 1px solid rgba(127, 136, 151, 0.2);
}


.logo-box .header-category ul li:hover .dropdown-menu-item {
    opacity: 1;
    visibility: visible;
    top: 43px;
}

.menu-wrapper {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.main-menu {
    margin-right: 35px;
}

.main-menu ul {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.main-menu ul li {
    margin-right: 34px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
}


.main-menu ul li a {
    font-size: 15px;
    color: #233d63;

    position: relative;
    padding-bottom: 40px;
    font-weight: 600;
}

.main-menu ul li a:hover {
    color: #008da1;
}

.main-menu ul li a:hover:after {
    width: 100%;
    right: auto;
    left: 0;
}

.main-menu ul li:last-child {
    margin-right: 0;
}

.main-menu ul li .dropdown-menu-item {
    position: absolute;
    left: 0;
    top: 65px;
    width: 225px;
    background-color: #fff;
    display: block;
    padding: 25px 30px 25px 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    -moz-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    border: 1px solid rgba(127, 136, 151, 0.2);
    opacity: 0;
    visibility: hidden;
}

.main-menu ul li .dropdown-menu-item li {
    display: block;
    margin-right: 0;
    margin-bottom: 4px;
    text-transform: capitalize;
}

.main-menu ul li .dropdown-menu-item li:last-child {
    margin-bottom: 0;
}

.main-menu ul li .dropdown-menu-item li a {
    color: #7f8897;
    display: inline-block;
    position: relative;
    padding-bottom: 0;
    font-weight: 500;
}

.main-menu ul li .dropdown-menu-item li a:after {
    bottom: 5px;
}

.main-menu ul li .dropdown-menu-item li a:hover {
    color: #008da1;
}

.main-menu ul li .dropdown-menu-item:after {
    top: -7px;
    content: "";
    position: absolute;
    background-color: #fff;
    left: 30px;
    width: 13px;
    height: 13px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: -2px -2px 10px -5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -2px -2px 10px -5px rgba(0, 0, 0, 0.2);
    box-shadow: -2px -2px 10px -5px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(127, 136, 151, 0.2);
    border-left: 1px solid rgba(127, 136, 151, 0.2);
}

.main-menu ul li:hover .dropdown-menu-item {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    top: 53px;
}

@media (max-width: 1199px) {
    .logo-right-button ul {
        display: none;
    }
}

.logo-right-button .user-action li {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 4px;
}

.logo-right-button .user-action li:last-child {
    margin-right: 0;
}

.logo-right-button .user-action li a {
    display: block;
    color: #233d63;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.logo-right-button .user-action li a:hover {
    color: #008da1;
}

.logo-right-button .user-action li .theme-btn {
    color: #fff;
    line-height: 40px;
}

.logo-right-button .user-action li .theme-btn:hover {
    color: #008da1;
}

.logo-right-button .user-menu-open,
.logo-right-button .side-menu-open {
    width: 50px;
    height: 50px;
    line-height: 56px;
    font-size: 40px;
    color: #233d63;
    cursor: pointer;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: none;
    position: relative;
    z-index: 1;
    background-color: rgba(127, 136, 151, 0.2);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


.logo-right-button .user-menu-open:hover,
.logo-right-button .side-menu-open:hover {
    background-color: #008da1;
    color: #fff;
}

.logo-right-button .user-menu-open {
    display: none;
}


.user-nav-container .humburger-menu .humburger-menu-lines {
    top: 10px;
    width: 18px;
    height: 18px;
}

.user-nav-container .humburger-menu .humburger-menu-lines:before,
.user-nav-container .humburger-menu .humburger-menu-lines:after {
    background-color: #233d63;
}

.user-nav-container .section-tab .nav-tabs {
    padding: 50px 20px 0 20px;
}

.user-nav-container .section-tab .nav-tabs li {
    margin-bottom: 0;
}

.user-nav-container .user-panel-content {
    margin-top: 10px;
}

.user-nav-container .user-sidebar-item .mess__body {
    max-height: inherit;
    overflow-x: inherit;
    overflow-y: inherit;
}

.user-nav-container .user-action-item .mess__title {
    border: none;
}

.user-nav-container.active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}


.my-course-menu-content .menu-wrapper .contact-form-action {
    margin-right: 0;
}


/*======== course-complete-bar ========*/
.course-complete-bar .skillbar-title {
    width: 8%;
}

.course-complete-bar .skill-bar-percent {
    width: 5%;
}


/*====================================================
    my-courses-bread
 ====================================================*/
.my-courses-bread {
    height: auto;
    text-align: left;
    display: block;
    padding: 60px 0;
    background: #233D63;
    color: #ffffff;
    margin-bottom: 25px;
}

.my-courses-bread:before {
    opacity: 0.97;
}

.my-courses-bread-content {
    padding-bottom: 25px;
}

.my-courses-bread-content .section__title {
    font-size: 38px;
}

.my-courses-tab .section-tab-2 .nav-tabs {
    border-bottom: none;
}


.my-courses-tab .section-tab-2 .nav-tabs li {
    margin-bottom: 0;
}


.my-courses-tab .section-tab-2 .nav-tabs li a {
    color: #fff;
    padding-bottom: 17px;
}

.my-courses-tab .section-tab-2 .nav-tabs li a:after {
    bottom: 2px;
}

.my-courses-tab .section-tab-2 .nav-tabs li a.active {
    color: #008da1;
}


/*-===============================
    SIDEBAR
===============================-*/
.sidebar {
    position: relative;
}

.sidebar-widget {
    margin-bottom: 30px;
    border: 1px solid rgba(127, 136, 151, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 30px;
    -webkit-box-shadow: 0 0 40px rgba(82, 85, 90, 0.06);
    -moz-box-shadow: 0 0 40px rgba(82, 85, 90, 0.06);
    box-shadow: 0 0 40px rgba(82, 85, 90, 0.06);
    background-color: #fff;
}

.sidebar-widget:last-child {
    margin-bottom: 0;
}

.sidebar-widget .contact-form-action .form-control {
    padding-left: 20px;
}

.sidebar-widget .contact-form-action .message-control {
    height: 100px;
}

.sidebar-widget .contact-form-action .form-group {
    margin-bottom: 0;
}

.sidebar-widget .widget-title {
    font-size: 20px;
    margin-bottom: 14px;
}

.sidebar-widget .section-divider {
    width: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar-widget .section-divider:after {
    top: -0.1px;
    width: 5px;
    -webkit-animation-name: dot-move2;
    animation-name: dot-move2;
}

.sidebar-widget .list-items li:after {
    width: 9px;
    height: 9px;
    background-color: transparent;
    border: 1px solid rgba(127, 136, 151, 0.5);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.sidebar-widget .list-items li:last-child {
    margin-bottom: 8px;
}

.sidebar-widget .list-items li a {
    display: block;
    color: #7f8897;
    text-transform: capitalize;
    font-weight: 500;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.sidebar-widget .list-items li a:hover {
    color: #008da1;
}

.sidebar-widget .list-items li:hover:after {
    background-color: #008da1;
    border-color: #008da1;
}

.sidebar-widget .sort-ordering {
    width: 100%;
}

.sidebar-widget .rating-shared li {
    display: block;
    padding-right: 0;
    padding-bottom: 10px;
}

.sidebar-widget .rating-shared li .review-label {
    display: inline-block;
    margin-top: 4px;
    margin-right: 28px;
}

.tag-widget .list-items li {
    padding-left: 0;
    display: inline-block;
    margin-bottom: 4px;
}

.tag-widget .list-items li:after {
    display: none;
}

.tag-widget .list-items li a {
    border: 1px solid rgba(127, 136, 152, 0.2);
    padding: 4px 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: block;
}

.tag-widget .list-items li a:hover {
    background-color: #008da1;
    color: #fff;
    border-color: #008da1;
}

.sidebar-feature .list-items li {
    padding-left: 0;
    border-bottom: 1px solid rgba(127, 136, 151, 0.1);
    padding-bottom: 15px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.sidebar-feature .list-items li:after {
    display: none;
}

.sidebar-feature .list-items li:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}

.sidebar-preview {
    padding: 0;
    border: none;
}

/*====== sidebar-component ======*/
.sidebar-component {
    position: relative;
    z-index: 3;
    margin-top: -93px;
}


.sidebar-component .sidebar-preview {
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
}

.sidebar-preview-titles {
    background-color: #008da1;
    padding: 20px 30px;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
}

.sidebar-preview-titles .widget-title {
    color: #fff;
    margin-bottom: 0;
}

.sidebar-preview-titles .section-divider {
    background-color: #fff;
    margin: 0;
}

.sidebar-preview-titles .section-divider:after {
    background-color: #008da1;
}

/*
Teacher profile
 */

.instructor-breadcrumb-area {
    background: #233D63;
    color: #ffffff !important;
    padding: 65px 0;
    margin-bottom: 45px;
}

.team-single-wrap {
    padding-top: 60px;
}

.address-list li {
    margin-bottom: 25px;
}

.address-list a  {
    color: #233D63;
}
.address-list a i {
    background: #F2F3F4;
    padding: 15px;
    border-radius: 50%;
}

.address-list a i:hover {
    background: #008DA1;
    padding: 15px;
    border-radius: 50%;
    color: #ffffff;
}

.widget-title-tooltip {
    background-color: rgba(127, 136, 151, 0.1);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    position: relative;
    padding: 12px 18px;
    text-align: center;
}

.team-single-item .number-count {
    font-size: 20px;
    font-weight: 700;
}
.pane-body{
    background: #ffffff !important;
}

/*
    COURSE DETAIL AREA
*/
.breadcrumb__list span {
    color: #ffffff;
}

.teacher_name {
    color: #ffffff;
    text-decoration: underline !important;
}

.teacher_name:hover {
    cursor: pointer;
}

.team-single-img {
    position: relative;
    z-index: 1;
}

.team-single-img .team__img {
    width: 100%;
    -webkit-border-radius: 15px 0 15px 15px;
    -moz-border-radius: 15px 0 15px 15px;
    border-radius: 15px 0 15px 15px;
}

.team-single-img:after {
    position: absolute;
    content: "";
    height: 33%;
    width: 50%;
    left: -30px;
    bottom: -30px;
    z-index: -1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
}

.team-single-item {
    margin-bottom: 30px;

}

.breadcrumb-detail-area {
    background: #233D63;
    padding: 97px 0;
    margin-bottom: 37px;
}

.sidebar-component .sidebar-preview {
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    height: 300px;
}

.preview-course-content {
    padding: 30px 30px 30px 30px;
    border-top: 0;
}

.preview-course-content .preview-course__price {
    margin-bottom: 16px;
}

.preview-course-content .preview-course__price span {
    margin-right: 7px;
    font-size: 18px;
}

.preview-course-content .preview-course__price span.price-current {
    color: #233d63;
    font-size: 40px;
    font-weight: 600;
    margin-right: 10px;
}

.price-current {
    color: #233d63;
    font-size: 40px !important;
    font-weight: 600 !important;
    margin-right: 10px;
}

.sidebar-preview-titles {
    background-color: #008da1;
    padding: 20px 30px;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
}

.post-overview-card {
    background-color: #f7fafd;
    border: 1px solid rgba(127, 136, 151, 0.1);
    padding: 25px 30px 18px 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.post-overview-card .list-items {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


.post-overview-card .list-items li {
    margin-bottom: 12px;
    width: 45%;
    margin-right: 33px;
    padding-left: 0;
}

.post-overview-card .list-items li:after {
    display: none;
}

.description-wrap .list-items li {
    font-size: 15px;
}

.curriculum-header {
    margin-bottom: 30px;
}


.curriculum-header .curriculum-header-right span {
    margin-right: 10px;
}

.curriculum-header .curriculum-header-right span:last-child {
    margin-right: 0;
}

.curriculum-header .curriculum-header-right span strong {
    color: #233d63;
}


.stats-average__count .stats-average__count-count {
    color: #233d63;
    font-size: 70px;
    font-weight: 600;
}

.stats-average__rating {
    margin-left: 10px;
}

.stats-average__rating .review-stars {
    margin-right: 5px;
}

.stats-average__rating .review-stars li {
    font-size: 18px;
}

.course-rating-text {
    text-align: center;
    margin-top: 5px;
}


.course-rating-text .course-rating-text__text {
    margin-left: 60px;
}


.footer-area {
    padding: 80px 0;
    margin-top: 45px;
}

p {
    color: #233d63 !important;
}

p.alert_error {
    color: #FF4040 !important;
}

a {
    text-decoration: none !important;
    cursor: pointer !important;
}

select:hover {
    background-color: white !important;
}

select option:hover {
    color: #444645;
    background: #ddd;
}

#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #008da1 !important;
}

#nprogress .spinner {
    display: none !important;
}

.home__page {
    height: 56vh;
}

.home__page .img_wrapper {
    background-image: url("./../public/images/homepage_banner.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.video-wrapper {
    padding: 10px;
    background-color: #233d63;
    box-sizing: border-box;
    height: 90vh;
}

.sidebar-content {
    height: 86.5vh !important;
    overflow-y: auto;
    background-color: white;
    scrollbar-width: thin !important;
    scrollbar-color: #1e1e3f white !important;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%;
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.video_active {
    background: #e2e8f0;
}


.sidebar-content .course-content-list {
    margin-bottom: -20px !important;
    background: #fafafa !important;
}

.sidebar-content-admin {
    height: 57vh !important;
    overflow-y: auto;
    background-color: white;
    scrollbar-width: thin !important;

}

.sidebar-content-admin .view_admin {
    background: #fafafa;
    margin: 0 0 7px 0;
}

.sidebar-content-admin .course-item-link {
    padding: 0 0 0 3px;
    margin: 0 3px;

}


.playing_icon_admin i {
    font-size: 12px !important;
}

.sidebar-content-admin .card-body {
    padding-bottom: 0;
    padding-top: 0;
}

.video-wrapper_admin {
    padding-top: 10px;
    background-color: #233d63;
    box-sizing: border-box;
    height: 60vh;
}
.course-list .course-item-link {
    cursor: pointer;
    padding: 12px 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.course-list .course-item-link.active {
    background-color: rgba(81, 190, 120, 0.1);
}

.course-list .course-item-link:hover {
    background-color: rgba(127, 136, 151, 0.1);
}

.course-list .course-item-link .courser-item-meta-wrap {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.course-list .course-item-link .msg-action-dot .dropdown-menu {
    left: auto !important;
    right: 0;
    border: 1px solid rgba(127, 136, 151, 0.2);
    margin-top: 35px;
}

.course-list .course-item-link .msg-action-dot .theme-btn {
    line-height: 30px;
    font-size: 14px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 2px;
    background-color: #fff;
}

.course-list .course-item-link .msg-action-dot .theme-btn:hover {
    border-color: rgba(35, 61, 99, 0.2);
    color: #233d63;
}

.course-list .course-item-content-wrap {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.course-list .course-item-content-wrap .course-item-content {
    width: 100%;
}

.course-list .course-item-content-wrap .course-item-content .course-item-meta {
    font-size: 14px;
}

.course-list
.course-item-content-wrap
.course-item-content
.course-item-meta
i {
    margin-right: 3px;
}


#dashboard-nav-container {
    padding-top: 10px !important;
}

.theme-btn,
.tab-hover:hover {
    cursor: pointer !important;
}

.check .input {
    color: #1e1e3f;
    margin-right: 10px;
    border-radius: 3px;
    transition: all 150ms;
}

.check label {
    font-size: 18px;
    font-weight: 400 !important;
    color: #1e1e3f;
}

.input:checked {
    background-color: #1e1e3f !important;
    color: #1e1e3f;
}

.input::after {
    background-color: #1e1e3f !important;
    color: #1e1e3f;
}

.content-title {
    justify-content: initial;
    text-transform: uppercase !important;
    color: #1e1e3f !important;
    font-weight: 600;
}

.nav-item {
    font-size: 15px;
    color: #233d63;
    padding-bottom: 40px;
    font-weight: 600;
}

.nav-item:hover {
    padding-bottom: 0 !important;
    font-weight: 600;
    text-decoration: none;
}

.login {
    color: #233d63;
    font-weight: 600 !important;
}

.auth--margin {
    margin-top: 25px !important;
}

.side-menu-wrap {
    margin-top: 15px !important;
    height: 100vh;
}

#admin-area {
    padding-top: 20px !important;
    background-color: #fafafa;
}

#admin-area .card-header {
    height: 95%;
}

#admin-area .item {
    margin-bottom: 5px !important;
}

#admin-area .item a {
    margin-bottom: 5px !important;
    color: #233d63 !important;
}

#admin-area .item a:hover {
    color: #008da1 !important;
    font-weight: 500;
}

#admin-area .admin-item i {
    margin-right: 12px !important;
}


.user-auth li {
    margin: 0 10px !important;
}

.second-child {
    border: 0;
    background-color: white !important;
}

.second-child :after {
    border: 0;
    background-color: white !important;
}

.user-auth {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 12px;
    color: #233d63 !important;
    cursor: pointer;
}

.login {
    margin-right: 12px;
}

.login:hover {
    color: #008da1 !important;
}

.form-control {
    padding-left: 10px !important;
}

.btn-submit {
    background-color: #008da1;
    border: 0;
    margin-top: 15px;
}

.btn-submit:disabled {
    background-color: #008da1;
    border: 0;
    margin-top: 15px;
}

.tag-wrapper {
    margin-bottom: 15px;
}

.tag-wrapper span:hover {
    cursor: pointer;
}

.tag-clicked {
    background-color: #008da1 !important;
    color: #fff !important;
}

.tag-clicked:hover {
    background-color: #008da1 !important;
}

.category-wrapper {
    margin-bottom: 24px;
}

.badge-category {
    width: auto;
    margin: 0 5px;
    font-size: 15px;
}

.checkbox-inline {
    width: auto;
    margin: 0 5px;
    font-size: 15px;
    color: #233d63 !important;
    font-weight: 600 !important;
}

.checkbox-label {
    margin-right: 3px;
}

.dropzone {
    border: 2px dashed #008da1;
}

.dropzone-container {
    height: 200px;
    border: 2px dashed #008da1;
    justify-content: center;
    display: flex;
    align-items: center;
}

.flash-container {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0 15px !important;
}

.flash-container .close {
    margin-bottom: auto;
}

.bg-color {
    background-color: #f08a5d;
}

.badge:hover {
    cursor: pointer;
}

.bg-gray {
    background-color: #dee2e6;
    cursor: not-allowed !important;
}

#nprogress .bar {
    height: 3px !important;
    color: #008da1;
}

.course-item-link {
    padding-top: 7px !important;
    padding-bottom: 2px !important;
}

.course-item-link:hover {
    color: #1e1e3f !important;
}

.video-active {
    background-color: #dcdcdc;
    color: #1e1e3f !important;
    font-weight: 500;
}

.playing-icon {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

.la-play-circle {
    color: #008da1 !important;
    font-weight: 700;
    font-size: 18px !important;
}

.video-completed {
    color: #008da1 !important;
    font-weight: 800 !important;
}

.comment-avatar .avatar__img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 20px;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        color: #1e1e3f !important;
    }
}

.custom-control-label::after {
    display: none !important;
}

.enrollment:hover {
    cursor: pointer;
}

.comment {
    font-size: 13px !important;
    border-bottom: 0 !important;
    border-top: 0 !important;
    padding: 2px !important;
}
.comment_image{
    border-radius: 50%;
}
.comment-body{
    margin-left: 15px;
}

.comment_reply {
    margin-left: 4em;
    border-bottom: 0 !important;
    display: block;
    padding: 0;
}

.comment_reply:hover {
    background-color: transparent !important;
}

.comment-reply:hover {
    cursor: pointer;
}

.user-auth i {
    color: #008da1 !important;
    font-weight: 800 !important;
    font-size: large;
}

.card__collection-icon:hover {
    color: #e7305b !important;
}

.categories {
    font-size: 18px;
}

.category {
    color: #718cb7 !important;
    background-color: #e2e8f0;
    margin-right: 3px;
    font-size: 13px;
}

.category_selected {
    color: #fff !important;
    background-color: #4a5568;
    margin-right: 3px;
    font-size: 13px;
}

.home_image img {
    width: 370px;
    height: 220px;
}

.section__title {
    font-size: 29px;
}

.hero_heading {
    color: #fff;
    margin-bottom: 15px;
}

.quizze:hover {
    cursor: pointer;
}

.quizze {
    border: solid gray;
    border-width: 0.1em 0.1em 0.1em 0.8em;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.btn_disabled {
    /*cursor: disabled;*/
}

ol {
    display: none !important;
}

.is_disabled {
    cursor: not-allowed;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%;
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.delete_account_wrapper {
    height: 220px;
}

.card__title {
    height: auto;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem !important;
    font-size: 18px !important;
}

.card__title a:hover {
    color: #233d63;
}

.meta__date i {
    color: #008da1 !important;
    font-weight: 700;
    font-size: 15px !important;
}

.card__author a:hover {
    color: #7f8897;
}

.card__collection-icon:hover {
    cursor: pointer;
}

.star__rating_total {
    font-weight: 900;
    margin-right: 3px;
    color: red;
}

.responsive-footer {
    display: none;
}

/* single course */


/*pagination*/
ul.pagination {
    position: absolute;
    bottom: 15px;
}

.pagination .page-link {
    color: #008da1 !important;
}

.pagination .active a {
    background-color: #008da1 !important;
    color: #fff !important;
}

.page-link:focus {
    outline: 0;
    box-shadow: 0 0 0 rgba(0, 123, 255, .25);
}

.pagination .a:after {
    border: 0
}

.forgot-password {
    height: 70vh !important;
}

/*shopping cart*/
.shopping_cart_wrapper {
    position: relative;
}

.shopping_cart_wrapper:hover {
    cursor: pointer;
}

.shopping_cart_wrapper .total {
    position: absolute;
    left: 20px;
    bottom: 12px;
    font-size: 14px;
    font-weight: bold;
    color: #008da1;
}

/*payment card*/
.payment_card {
    width: 290px !important;
    height: auto !important;
    background-color: #233d63;
    opacity: .8;
}

.payment_card label {
    font-size: 11px;
}

.user_plan_item, .card_payment, .user_current_plan_item {
    background-color: #fff;
    -webkit-box-shadow: 0 0 40px rgba(14, 16, 48, 0.05);
    -moz-box-shadow: 0 0 40px rgba(14, 16, 48, 0.05);
    box-shadow: 0 0 40px rgba(14, 16, 48, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 42px 40px 45px 40px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    border: none;
    font-size: 18px;
    color: #1e1e3f;
    font-weight: bold;
}

.cart_item {
    background-color: #fff;
    -webkit-box-shadow: 0 0 40px rgba(14, 16, 48, 0.05);
    -moz-box-shadow: 0 0 40px rgba(14, 16, 48, 0.05);
    box-shadow: 0 0 40px rgba(14, 16, 48, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    border: none;
    color: #1e1e3f;

}

.user_plan_item:hover {
    cursor: pointer;
    background-color: #f7fafd;
}

.btn:focus {
    box-shadow: none !important;
}

.cart-total {
    margin: 25px 0
}

.go_to:hover {
    text-decoration: underline !important;
    cursor: pointer
}


.radio__wrapper, .radio__wrapper_level {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 11px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio__wrapper .radio__value {
    font-size: 13px !important;
    position: relative;
    bottom: 6px;
    background-color: white;
    color: #7f8897;;
}

.radio__wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;
}


.radio__wrapper input:checked ~ .checkmark {
    background-color: #1e1e3f;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio__wrapper input:checked ~ .checkmark:after {
    display: block;
}

.radio__wrapper .checkmark:after {
    top: 6px;
    left: 6px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
}

.radio__wrapper, .radio__wrapper_level {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 11px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio__wrapper .radio__value {
    font-size: 13px !important;
    position: relative;
    bottom: 6px;
    background-color: white;
    color: #7f8897;
}

.radio__wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;
}


.radio__wrapper input:checked ~ .checkmark {
    background-color: #1e1e3f;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio__wrapper input:checked ~ .checkmark:after {
    display: block;
}

.radio__wrapper .checkmark:after {
    top: 6px;
    left: 6px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
}

.form-control:focus {
    border-color: #eeeeee;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.search_courses::placeholder {
    font-weight: 700;
    font-size: 13px;
}

.searchable_btn {
    background: #eee;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pagination li a:hover {
    background: #008da1 !important;
    color: #fff !important;
}


.spec-1 {
    color: #938787;
    font-size: 15px
}

h5 {
    font-weight: 400
}


.btn-outline,
.btn-outline:hover {
    border-color: #1e1e3f !important;
}

.theme-btn {
    font-size: 15px;
    text-transform: initial;
    background-color: #008da1;
    color: #fff;
    padding: 0 10px 0 10px;
    line-height: 32px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 1;
    display: inline-block;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border: 2px solid #008da1;
    font-weight: 600;
}

.main-menu ul li {
    text-transform: initial;
    font-weight: 500;
}

.btn__details {
    background-color: #eeeeee;
}

/*comments*/

.card-inner {
    margin-bottom: 12px;
    padding-top: 0;
}

.comment__wrapper h3 {
    margin-bottom: 14px;
}

.course_title:hover {
    cursor: pointer !important;
}

.steps-content {
    background-color: #fafafa;
    border: 1px dashed #e9e9e9;
    border-radius: 2px;
    min-width: 100%;
    min-height: 400px;
    margin-top: 25px;
}

.steps-action {
    margin-top: 24px;
}


.comment_box {
    border: none;
    box-shadow: 1px 2px 2px 2px #e9ecef;
    border-radius: 4px;
}


.user-img {
    margin-top: 4px
}

.comment_body, .comment_box .reply, .reply_comment_form {
    margin-left: 37px;
}


.reply small {
    color: #b7b4b4
}

.reply small:hover {
    cursor: pointer
}

.replied {
    color: #008da1 !important;
}

/*ANTD*/

.ant-list {
    color: #4a5568;
}

.antd_btn {
    background-color: #fefefe;
    color: #4a5568 !important;
    margin-top: 2px !important;
}

.antd_btn:hover {
    background-color: #fefefe;
    color: #4a5568 !important;
    border: 1px solid #eeeeee;
}

.ant-statistic-title {
    color: #4a5568 !important;
    text-transform: uppercase;
    font-weight: 500;
}

.ant-statistic-content {
    font-size: 43px !important;
    font-weight: 700 !important;
}

.ant-upload-list {
    display: none !important;
}

.site-result-demo-error-icon {
    color: red;
    margin-right: 6px;
}

.ant-space-horizontal {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.ant-descriptions-title {
    text-align: center !important;
    margin-top: 35px;
}

.ant-collapse-header {
    color: #233d63;
    font-size: 13px;
    font-weight: 600;
}

.ant-table {
    line-height: 1 !important;
}

.ant-table .ant-table-thead th.ant-table-cell {
    color: #233d63;
    font-size: 13px;
    font-weight: 600;
}

.ant-table-tbody td.ant-table-cell {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 12px;
    color: #233d63;
}

._ant-card-body {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 12px;
    color: #233d63;
    line-height: 1 !important;
}

._ant-card-body {
    padding: 0 !important;
    font-size: 12px;
    color: #233d63;
    margin-bottom: 9px;
}

._ant-card-body .ant-card-body {
    padding: 10px 10px;
    line-height: 1 !important;
}

.ant-form-item-extra {
    color: #ff4d4f
}

select.form-select {
    width: 100%;
    line-height: 1.1;
    font-size: 13px;
    font-weight: 400;
    padding: .375rem .75rem;

}

.ant-input, input {
    display: block;
    width: 100%;
    padding: .275rem .75rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.ant-form-item-label, label {
    color: #233d63 !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}

.ant-tag-checkable:hover {
    color: #233d63 !important;
}

.ant-tag-checkable-checked {
    background: #718cb7 !important;
    color: #ffffff;
}

.ant-tag-checkable-checked:hover {
    background: #718cb7 !important;
    color: #ffffff !important;
}

.ant-steps-item-title {
    font-weight: 500;
    color: #233d63;
}

.ant-notification-notice-success {
    border: 2px solid #7FD9AF !important;
}

.ant-notification-notice-closable {
    color: #7FD9AF !important;
}


.ant-notification-notice-message {
    font-weight: 400 !important;
    font-size: 16px !important;
}

.ant-notification-notice-description {
    color: #233d63 !important;
}

.ant-pagination-item-active {
    background: #008DA1 !important;
    color: #ffffff !important;
    border: none !important;
}

.dropdown-item :hover {
    background: transparent !important;
}

label.action_dot:hover {
    cursor: pointer !important;
}

.preview_course_title {
    font-size: 16px;
    color: #233d63;
    font-weight: 600;
}

p.collapse_para {
    margin-left: 23px !important;
    color: #242729 !important;
    font-size: 12px;
}

#register .ant-row {
    padding: 0 !important;
}

select option:focus {
    text-decoration: none;
    color: #ffffff;

}

.hidden {
    display: none;
}


#components-table-demo-resizable-column .react-resizable {
    position: relative;
    background-clip: padding-box;
}

#components-table-demo-resizable-column .react-resizable-handle {
    position: absolute;
    right: -5px;
    bottom: 0;
    z-index: 1;
    width: 10px;
    height: 100%;
    cursor: col-resize;
}

.info__count {
    font-size: 38px;
    font-weight: 700;
    color: #3e5b99;
    margin-top: 5px;
}

.courses_wrapper {
    height: 140vh !important;
    position: relative;
}

.pagination_container {
    position: absolute;
    bottom: 0;
}

.home_course_img_wrapper {
    height: 150px !important;
    background: transparent !important;
    border: none;
}

.courses_img_wrapper {
    height: 150px !important;
    background: transparent !important;
    border: none;
}

._card_body {
    height: 150px !important;
}

.home_course_img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.courses_img_wrapper {
    border: none;
    height: 170px;
}

.course-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/**
How to
 */

.info-area {
    position: relative;
    padding: 58px 0;
}

.info-area:after {
    position: absolute;
    content: "";
    bottom: -30px;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    -o-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    width: 60px;
    height: 60px;
    background-color: #f7fafd;
}

.info-box {
    background: #ffffff;
    padding: 42px 22px;
}


.icon-element {
    color: #7E3CF9;
    font-size: 50px;
    position: relative;
    width: 80px;
    height: 80px;
    line-height: 85px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(126, 60, 249, 0.1);
    text-align: center;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    display: inline-block;
}

.funfact-area {
    padding: 80px 0;
}

.funfact-area .counter-item .count__title {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
}

.funfact-area .counter-item .count__icon {
    font-size: 62px;
    /*color: rgba(127, 136, 151, 0.1);*/
    color: #233D63;
    opacity: .5;
}

.counter-item .count__meta {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}


/*
Footer
 */
.footer-area .copy__desc {
    color: #ffffff;
}
